body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #282c34;
	color: white;
	font-family: Arial, sans-serif;
}

#card-area {
    position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #444;
	overflow: hidden;
    display: block;
}

#battle-area {
    position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #444;
	overflow: hidden;
    display: none;
}

.card {
    position: absolute;
    width: 10%;
    height: 30%;
    transition: all 0.2s;
}